@charset "utf-8";

body {
	width: 100%;
}
.wrapper {
	width: 400px;
  
}
.header {
	width: 100%;
	height: 100px;
	background: #ff0000;
 
}
.header-nav {
  position: relative;
}
.nav {
 float: left;
 background: #ffffff;
 
 position: absolute;right:20px;top:20px;
 
 }

 .nav-left,.nav-center,.nav-right {
  float: left;
  
  width: 40px;
  height: 40px;
background: #a9004b;
 }
 .nav-left {
  margin: 10px 5px 10px 10px;
 }
 .nav-center {
  margin: 10px 5px 10px 5px;
 }
 .nav-right {
  margin: 10px 10px 10px 5px;
 }


.side {
	
  float: left;
	width: 150px;
	height: 250px;
	background: #00ff51;
}
.content {
	float: left;
	width: 250px;
	height: 250px;
	background: #8e2727;
  position: relative;
}
.content2 {
  position: absolute;top:40px;left:40px;
 
}

.content-top,.content-center,.content-bottom {
  float: left;
  width: 140px;
  height: 40px;
  background: #ff863f;
  border:solid 5px #ffffff;
}

.content-center {
  margin:10px 0px;
 
}

.footer {
	width: 100%;
	height: 100px;
	background: #ffd000;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}