@charset "utf-8";

body {
	width: 100%;
}
.wrapper {
	width: 400px;
  
}
.header {
	width: 100%;
	height: 100px;
	background: #ff0000;
	position: relative;
 
}
/* .header-nav {
  position: relative;
} */
.nav {
	
 background: #ffffff;
 
 position: absolute;right:20px;top:20px;
 
 }
 
 

.nav-box {
	float: left;
  
  width: 40px;
  height: 40px;
background: #a9004b;
margin-left: 10px;
/* margin-top: 10px;
margin-bottom: 10px; */

}
/* .nav-box:nth-child(1) {
	margin-left: 10px;
} */
.side {
	
  float: left;
	width: 150px;
	height: 250px;
	background: #00ff51;
}
.main {
	float: left;
}
/* ↑これを入れるとfooterが消える */
.content {
	float: left;
	width: 250px;
	height: 250px;
	background: #8e2727;
  position: relative;
}
.content2 {
  position: absolute;top:40px;left:40px;
 
}

.content-box {
  /* float: left; */
  width: 140px;
  height: 40px;
  background: #ff863f;
  border:solid 5px #ffffff;
	margin-bottom: 10px;
}
/* ↓は付け加えました。 */
.content-box:nth-child(3) {
	margin-bottom: -10px;
}

.footer {
	width: 100%;
	height: 100px;
	background: #ffd000;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}